<div class="container-fluid" id="contact" style="background-color: rgb(38, 82, 155);border-top:1px solid black">
	<div class="row">
		<div class="col-6 py-2 align-top">

			<div class="">
				<a
					href="https://www.facebook.com/augustin.saah.94?hc_ref=ARRCLe3UgskeNiuPRUc0a_0VI5dMxQuq8klVSNSYhWM7vpBGlsa0Ue08Z0bvGICzp5Q&ref=nf_target"><img
						class="logo-small" src="assets/img/social/facebook.png" alt="facebook"></a>
				<a href="https://mobile.twitter.com/augustin_saah"><img src="assets/img/social/twitter.png"
						alt="facebook" class="logo-small"></a>
				<a href="https://www.instagram.com/augustin_saah/"><img src="assets/img/social/instagram.png"
						class="logo-small" alt="facebook"></a>
			</div>
			<span style="color: black;">
				&copy; {{ site.time | date: '%Y' }}
				<a href="{{site.url}}" style="color: black;">{{site.title}}</a>
			</span>
		</div>
		<div class="col-6" style="color: black;">
			<span>
				
			</span>

		</div>
	</div>

</div>