<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.2/bootstrap-social.css"
    integrity="sha512-EBs0Neps4UM7qLxWO1TZbgQEYmDKNvaRZw2Zu7IeOSCGvfXCXPBEB/tIql3Jeh91sSyvSWCw6weZtGENoPQ0jg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- <style>
    *{
        border: 1px solid black;
    }
</style> -->

<div class="header {% if site.header == " large" %}header--large{% endif %}">
    <div style="margin-bottom: -50px;position: absolute;" class="container-fluid">
        <div class="row d-none d-md-flex">
            <!-- mt-3 ml-2 -->
            <div class="col-md-12 col-lg-6 text-md-right text-lg-left mt-3">
                <a
                    href="https://www.facebook.com/augustin.saah.94?hc_ref=ARRCLe3UgskeNiuPRUc0a_0VI5dMxQuq8klVSNSYhWM7vpBGlsa0Ue08Z0bvGICzp5Q&ref=nf_target"><img
                        src="assets/img/social/facebook.png" alt="facebook" style="height: 50px;"></a>
                <a href="https://mobile.twitter.com/augustin_saah"><img src="assets/img/social/twitter.png" alt="facebook"
                        style="height: 50px;"></a>
                <a href="https://www.instagram.com/augustin_saah/"><img src="assets/img/social/instagram.png"
                        alt="facebook" style="height: 50px;"></a>
            </div>
            <div class="col-lg-6 text-right mt-3">
                <a href="tel:+13018028146"><i class="fas fa-phone fa-2x" style="color: rgb(160, 21, 40);text-shadow: 0 0 5px black, 0 0 5px black"></i></a>
                <a href="mailto:augustinsaah@gmail.com"><i class="fas fa-envelope fa-2x" style="color: rgb(159, 159, 0);text-shadow: 0 0 5px black, 0 0 5px black"></i></a>
            </div>
        </div>
    </div>
    <div class="container mt-0 pt-0" style="margin-top: -50px;">
        <div class="row mt-0 pt-0">
            <div class="col-12 px-5 pb-3 mt-0 pt-0">
                <nav class="nav-collapse mt-0 pt-0">
                    <ul class="mt-0 pt-0">
                        <!-- text-shadow: 0 0 3px #FF0000, 0 0 5px rgb(186, 160, 54); -->
                        {%- for link in site.navigation -%}{%- assign current = nil -%}{%- if page.url contains link.url
                        or forloop.first and page.url == '/' or page.url == 'index.html' -%}{%- assign current =
                        'current' -%}{%- endif -%}
                        <li class="element mt-0 pt-0 {%- if forloop.first -%}first{%- endif -%} {{ current }} {%- if forloop.last -%}last{%- endif -%}"
                            style="color: white;">
                            <a href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                        {%- endfor -%}
                    </ul>
                </nav>
                <h1 class="logo ml-2 text-center mx-auto"
                    style="text-shadow: 0 0 3px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255, 0);color: white;"><a
                        href="/">{{
                        site.title }}</a></h1>

            </div>
        </div>

    </div>
</div><!-- end .header -->